$white: #fff;
$black: #000;
$blue: #0385db;
$light-blue: #c6e3f6;
$grey: #999;
$dark-grey: #535353;
$light-grey: #f0f0f0;
$light-blue-grey: #ebebf2;

$bg-grey: #343a40;
$bg-dark-grey: #343a40;
$bg-blue-grey: #1e2431;
$bg-white-light: #f5f5f5;

$bg-light-hover: rgba(255, 255, 255, 0.4);
$bg-blue-hover: rgba(3, 133, 219, 0.8);

$font-dark: #242a35;
$font-light: $white;
