// mixins
$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px
);
@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin divider($width, $margin) {
  left: 0;
  border-top: 0.4px solid $bg-white-light;
  margin-left: -$margin;
  margin-right: -$margin;
  width: $width;
}

@keyframes slideInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }

  75% {
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0, 2px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
