// Default classes
.text-center {
  text-align: center;
}

.text-spacing {
  line-height: 1.5em;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: $white;
}

.title {
  font-size: 30px;
  color: $black;
}

.user-info-divider {
  @include divider(400px, 4rem);
}

.btn-submit {
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 105px;
  padding-left: 105px;
  background-color: $blue;
  &:hover {
    background: $bg-blue-hover;
    border-color: $bg-blue-hover;
  }
}

// CUSTOM CHECKBOX
.checkbox-round {
  display: inline;
  position: relative;
}

.checkbox-round label {
  background-color: #fff;
  border: 2px solid $blue;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  transition: all 0.4s;
  margin: 5px;
}

.checkbox-round input[type='checkbox'],
.checkbox-round input[type='radio'] {
  visibility: hidden;
}

.checkbox-round input[type='checkbox']:checked + label,
.checkbox-round input[type='radio']:checked + label {
  background-color: $blue;
  border-color: $blue;
}

.checkbox-round-label {
  line-height: 28px;
  margin-left: 16px;
  display: inline;
  font-size: 12px;
  color: $black;
  top: 10px;
  position: relative;

  @include mq('phone-wide') {
    margin-left: 24px;
  }
}

.checkbox-align {
  position: relative;
  display: flex;
  align-items: center;
}

.radio-button-label {
  font-size: 20px;
  color: $blue;
  padding-left: 2.5rem;
  margin-right: 0.5rem;
}

.select-option {
  font-family: 'Roboto', sans-serif;
}

.input-label {
  font-size: 18px;
  color: $black;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.naked-button {
  background: none;
  border: none;

  &:active {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}

.user-icon {
  background: rgba(3, 133, 219, 0.2);
  padding: 6px;
  border-radius: 50%;
}

.user-icon-2 {
  background: rgba(3, 133, 219, 0.2);
  padding: 20px;
  border-radius: 50%;
}

.badge {
  position: relative;
}
.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 25px;
  right: -2px;
  font-size: 1em;
  background: $blue;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.align {
  vertical-align: middle;
}

.select {
  width: 100%;
}

.main {
  padding: 0px;
  position: absolute;
  top: 65px;
  left: $sidenav-width;
  right: 0;
  bottom: 0;
  background: $bg-white-light;
  box-sizing: border-box;
  @include mq('phone-wide') {
    left: 0;
    top: 0;
  }
}

.hidden-checkbox {
  visibility: hidden;
}
